@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif;
}
.main-content{
    margin-top: 3rem;
}
.main-content .card{
    margin-bottom: 2rem;
}
.main-content .card-header h3{
    margin-bottom: 0;
}
.main-content .card-body{
    padding: 1rem;
}
.footer p{
    margin-bottom: 0;
}
.btn, .alert, input, select, textarea, .breadcrumb, .input-group-text, .card, .modal-content, .badge{
    overflow: hidden;
}
